{
	email admin@roma-huesos.duckdns.org
}

http://roma-huesos.duckdns.org {
	redir https://roma-huesos.duckdns.org:8443{uri} permanent
}

https://roma-huesos.duckdns.org:8443 {
	encode zstd gzip
	reverse_proxy app:8080 {
		health_uri /actuator/health
		health_interval 10s
		health_timeout 5s
		fail_duration 30s
	}
}
